<h1 class="site_title"> <a href="/">Blog</a> </h1>
<div class="menu">
    <h2>5 Nyeste opslag</h2>
    <ul class="blog_list">
        <li class="blog_item" *ngFor="let product of products | slice:0:5; let i=index">
            <a href="blog/{{ product.sys.id }}" class="blog_text"> {{ product.fields.title }}</a>
        </li>
    </ul>
</div>
<div class="content" *ngFor="let product of products">
    <div class="article" *ngIf="product.sys.id === id">
        <div class="article_header">
            <h2 clasS="article_title">{{ product.fields.title }}</h2>
            <img class="article_img" src="http:{{product.fields.image.fields.file.url}}" alt="image">
        </div>
        <p clasS="article_author">Af {{ product.fields.author }}</p>
        <p clasS="article_date">{{_returnCreatedDate(product.fields.date)}}</p>
        <div class="article_content" [innerHtml]="_returnHtmlFromRichText(product.fields.content)"></div>
    </div>
</div>